$phase1-color:      #cabd77;
$phase2-color:      #73c2e1;
$phase3-color:      #4e8ecc;

$highlight-orange:  #e66e2b;

$phase-label:       #6a6f72;

$spinkit-spinner-margin: 40px auto !default;
$spinkit-size: 40px !default;
$spinkit-spinner-color: #000 !default;



.phase1-color{
  background-color: $phase1-color;
}

.phase2-color{
  background-color: $phase2-color;
}

.phase3-color{
  background-color: $phase3-color;
}

// color list
.head-color-0{
  background-color: #32acba;
  &:after{
    border-color: #32acba;
  }
}

.head-color-1{
  background-color: #46b8e9;
  &:after{
    border-color: #46b8e9;
  }
}

.head-color-2{
  background-color: #3ee9d1;
  &:after{
    border-color: #3ee9d1;
  }
}

.head-color-3{
  background-color: #ce43eb;
  &:after{
    border-color: #ce43eb;
  }
}

.head-color-4{
  background-color: #4d92eb;
  &:after{
    border-color: #4d92eb;
  }
}

.head-color-5{
  background-color: #46b8e9;
  &:after{
    border-color: #46b8e9;
  }
}

.head-color-6{
  background-color: #ab4545;
  &:after{
    border-color: #ab4545;
  }
}

.head-color-7{
  background-color: #654292;
  &:after{
    border-color: #654292;
  }
}

.head-color-8{
  background-color: #129265;
  &:after{
    border-color: #129265;
  }
}
