.number-highlighter{
  color: darkorange;
  font-size: 32px;
}

.num-stats{
  float: right;
}

.num-stats > div{
  display: block;
  width: 100%;
}

.num-stats div.stat-item{
  display: inline-block;
}

.float-left{
  float: left;
}

.float-right{
  float: right;
}

.header .title, .header .num-stats{
  padding: 20px 15px;
}

html{
  height: 100%;
}

footer{
  position: relative;
  display: block;
  height: 200px;
  padding: 25px;
  background-color: white;
  z-index: 9999;
  h6{
    font-size: 18px;
    font-weight: 800;
  }
  .partner-logos{
    margin-bottom: 25px;
    img{
      height: 40px;
    }
  }
  .footer-logos{
    margin: 10px 0;
    img{
      width: 100px;
      max-height: 100px;
      padding: 5px;
    }
  }
}
