html{
  height: 100%;
  font-size: 16px;
  font-family: 'Roboto';
}
.float-left{
  float: left;
}

.float-right{
  float: right;
}

.header {
  padding: 10px 25px;
  .title, .num-stats{
    padding: 20px 15px;
  }
  .num-stats{
    float: right;
    font-size: 2rem;
    > div{
      display: block;
      width: 100%;
    }
    div.stat-item{
      display: inline-block;
    }
    .number-highlighter{
      color: darkorange;
      font-size: 3.5rem;
      font-weight: bold;
    }
  }
}

footer{
  position: relative;
  display: block;
  height: 200px;
  padding: 25px;
  background-color: white;
  z-index: 9999;
  h6{
    font-size: 18px;
    font-weight: 800;
  }
  .partner-logos{
    margin-bottom: 25px;
    img{
      height: 40px;
    }
  }
  .footer-logos{
    margin: 10px 0;
    img{
      width: 100px;
      max-height: 100px;
      padding: 5px;
    }
  }
}
