.timeline{
  padding: 100px 0;
  border-top: 1px solid rgba(191, 191, 191, 0.4);
  border-bottom: 1px solid rgba(191, 191, 191, 0.4);

  // wrapper
  .wrapper{
    position: relative;
    margin: auto;

    &:after{
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: 1px solid rgba(191, 191, 191, 0.4);
    }
  }

  @include mq('tablet-wide', 'min'){
    .wrapper{
      display: flex;
      flex-flow: row wrap;
      height: auto;
      margin: 0 auto;
      width: 1170px;
      &:after{
        border-left: 1px solid #bdbdbd;
      }
    }
  }
  

  .card{
    position: relative;
    display: block;
    margin: 10px auto 80px;
    max-width: 94%;
    z-index: 2;
  }

  @include mq('phone-wide', 'min'){
    .card{
      max-width: 60%;
      box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
    }
  }

  @include mq('tablet', 'min'){
    .card{
      max-width: 40%;
    }
  }

  @include mq('tablet-wide', 'min'){
    .card{
      max-width: 450px;
      // height: 400px; /* TODO Add this via js */
      margin: 90px;
      margin-top: 45px;
      margin-bottom: 45px;
    }

    .card:nth-child(odd){
      margin-right: 45px;
      .head{
        &:after{
          border-left-width: 15px;
          border-left-style: solid;
          left: 100%;
        }
        &:before {
          left: 491.5px;
        }
      }
    }

    .card:nth-child(even) {
      margin-left: 45px;
      margin-top: 180px;
      .head{
        &:after {
          border-right-width: 15px;
          border-right-style: solid;
          right: 100%;
        }

        &:before {
          right: 489.5px;
        }
      }
    }

    .card:nth-child(2) {
      margin-top: 180px;
    }
  }

  // styles for dots on the line generated for the timeline
  @include mq('tablet-wide', 'min') {
    .card:nth-child(odd) .head::after, .card:nth-child(even) .head::after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
    }

    .card:nth-child(odd) .head::before, .card:nth-child(even) .head::before {
      position: absolute;
      content: "";
      width: 9px;
      height: 9px;
      background-color: #46b8e9; // bdbdbd
      border-radius: 9px;
      // box-shadow: 0px 0px 2px 8px #f7f7f7;


      -moz-animation-duration: 0.8s;
      -webkit-animation-duration: 0.8s;
      -moz-animation-name: changeShadow;
      -webkit-animation-name: changeShadow;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-direction: alternate;
      -webkit-animation-direction: alternate;
    }
  }

  @-webkit-keyframes changeShadow{
    from {
      box-shadow: 0px 0px 2px 8px #f7f7f7;
    }

    to {
      box-shadow: 0px 0px 2px 8px #d6e7ef;
    }
  }


  /********* Body **********/
  .card .body {
    background: #fff;
    border: 1px solid rgba(191, 191, 191, 0.4);
    border-top: 0;
    padding: 15px;
    img{
      min-height: 200px;
      max-height: 400px;
      height: auto;
      width: 100%;
    }
  }

  @include mq('tablet-wide', 'min'){
    .card .body {
      height: auto;
      // max-height: 400px;
      overflow-y: auto;
    }
  }

  .hide-card{
    display: none;
  }

  .card {
    .body{
      p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
      }

      img {
        display: block;
        width: 100%;
      }
    }

    .head {
      position: relative;
      display: flex;
      align-items: center;
      color: #fff;
      font-weight: 400;

      &:after{
        border-color: attr(data-color);
        content: '';
      }

      .number-box {
        display: inline;
        float: left;
        margin: 15px;
        padding: 10px;
        font-size: 35px;
        line-height: 35px;
        font-weight: 600;
        background: rgba(0, 0, 0, 0.17);
      }

      h2 {
        text-transform: uppercase;
        font-size: 1.3rem;
        font-weight: inherit;
        letter-spacing: 2px;
        margin: 0;
        padding-bottom: 6px;
        line-height: 1rem;
        span {
          display: block;
          font-size: 0.6rem;
          margin: 0;
        }
      }
    }

    // color list
    .head-color-0{
      background-color: #32acba;
      &:after{
        border-color: #32acba;
      }
    }

    .head-color-1{
      background-color: #46b8e9;
      &:after{
        border-color: #46b8e9;
      }
    }

    .head-color-2{
      background-color: #3ee9d1;
      &:after{
        border-color: #3ee9d1;
      }
    }

    .head-color-3{
      background-color: #ce43eb;
      &:after{
        border-color: #ce43eb;
      }
    }

    .head-color-4{
      background-color: #4d92eb;
      &:after{
        border-color: #4d92eb;
      }
    }

    .head-color-5{
      background-color: #46b8e9;
      &:after{
        border-color: #46b8e9;
      }
    }

    .head-color-6{
      background-color: #ab4545;
      &:after{
        border-color: #ab4545;
      }
    }

    .head-color-7{
      background-color: #654292;
      &:after{
        border-color: #654292;
      }
    }

    .head-color-8{
      background-color: #129265;
      &:after{
        border-color: #129265;
      }
    }

    @include mq('phone-wide','min') {
      .card .head h2 {
        font-size: 165%;
        line-height: 1.2rem;
      }
    }

    @include mq('phone-wide', 'min') {
      .card .head h2 span {
        font-size: 0.8rem;
      }
    }
  }
}
