.timeline{
  background-color: #eaebec;
  overflow: auto;
  border-top: 1px solid rgba(191, 191, 191, 0.4);
  border-bottom: 1px solid rgba(191, 191, 191, 0.4);
  position: relative;

  @include mq('tablet', 'min'){
    padding: 100px 0;
  }

  @include mq('tablet', 'max'){
    padding: 50px 0;
  }

  // wrapper
  .wrapper{
    position: relative;
    margin: auto;

    &:after{
      z-index: 1;
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      border-left: 1px solid rgba(191, 191, 191, 0.4);
    }
  }

  @include mq('tablet-wide', 'min'){
    .wrapper{
      display: flex;
      flex-flow: row wrap;
      height: auto;
      margin: 0 auto;
      width: 1170px;
      &:after{
        border-left: 1px solid #bdbdbd;
      }
    }
  }

  @include mq('tablet', 'max'){
    .wrapper{
      margin-top: 100px;
    }
  }

  .phase-details{
    ul{
      padding: 5px;
      list-style-type: none;
      z-index: 3;
      @extend %timeline-shadows;
      li{
        padding: 10px;
        text-transform: capitalize;
        color: white;
      }
    }
  }

  @include mq('tablet', 'max'){
    .phase-details{
      margin: 25px;
    }
  }

  @include mq('tablet', 'min'){
    .phase-details{
      position: absolute;
      top: 10px;
      right: 10px;
      ul{
        width: 200px;
      }
    }
  }

  .phase-label{
    display: block;
    position: absolute;
    color: white;
    height: 30px;
    padding: 10px;
    z-index: 5;
    font-size: 1.5rem;
    line-height: 1rem;

    @include mq('tablet', 'min'){
      margin-left: 47%;
    }

    @include mq('tablet', 'max'){
      margin-left: 44%;
    }

    @extend %timeline-shadows;
  }

  .card{
    position: relative;
    display: block;
    margin: 10px auto 80px;
    max-width: 94%;
    z-index: 2;
    -webkit-animation-duration: 1s;
    -webkit-animation-delay: 1s;
    -webkit-animation-iteration-count: 1;
    -moz-animation-duration: 1s;
    -moz-animation-delay: 1s;
    -moz-animation-iteration-count: 1;
    @extend %timeline-shadows;
    border: 1px solid #ddd;
    background-color: white;

    .number-box {
      display: inline;
      font-size: 16px;
      line-height: 10px;
      font-weight: 300;
      background: #ddd;
      padding: 5px;
      position: absolute;
      bottom: 0;
      right: 0;
    }

    .head {
      padding: 20px 20px 0 20px;
      position: relative;
      // display: flex;
      // align-items: center;
      color: #000;
      text-align: center;
      font-weight: 400;
      font-size: 1.5rem;
      line-height: 1rem;
      min-height: 100px;

      &:after{
        border-color: white;
        content: '';
      }

      h2 {
        text-transform: uppercase;
        font-size: 2rem;
        font-weight: 700;
        display: block;
        margin: 0 auto;
        padding-bottom: 6px;
        line-height: 2.5rem;
        color: black;
        text-align: center;
        span {
          display: block;
          font-size: 0.6rem;
          margin: 0;
        }
      }
    }

    .body{
      background: #fff;
      border: 1px solid rgba(191, 191, 191, 0.4);
      border-top: 0;
      min-height: 150px;
      text-align: center;
      padding: 0 20px 20px 20px;
      p {
        font-size: 14px;
        line-height: 18px;
        margin-bottom: 15px;
      }

      img {
        display: block;
        min-height: 200px;
        max-height: 400px;
        height: auto;
        width: 100%;
      }
      .highlight-num{
        color: $highlight-orange;
        font-size: 40px;
        text-align: center;
        margin: 10px 0;
      }
    }
  }

  @include mq('phone-wide', 'min'){
    .card{
      max-width: 60%;
      // box-shadow: 0px 1px 22px 4px rgba(0, 0, 0, 0.07);
    }
  }

  @include mq('tablet', 'min'){
    .card{
      max-width: 40%;
    }
  }

  @include mq('tablet', 'max'){
    .card{
      height: 400px;
      .head{
        height: 85px;
      }
      .body{
        height: 315px;
        overflow: auto;
      }
    }
  }

  @include mq('tablet-wide', 'min'){
    .card{
      max-width: 450px;
      width: 450px;
      // height: 400px; /* TODO Add this via js */
      margin: 90px;
      margin-top: 45px;
      margin-bottom: 45px;
      .body {
        height: auto;
        // max-height: 400px;
        overflow-y: auto;
      }
    }

    .card.even{
      margin-right: 45px;
      .head{
        &:after{
          border-left-width: 15px;
          border-left-style: solid;
          left: 100%;
        }
        &:before {
          left: 491.5px;
        }
      }
    }

    .card.odd {
      margin-left: 45px;
      margin-top: 180px;
      .head{
        &:after {
          border-right-width: 15px;
          border-right-style: solid;
          right: 100%;
        }

        &:before {
          right: 489.5px;
        }
      }
    }
  }

  // styles for dots on the line generated for the timeline
  @include mq('tablet-wide', 'min') {
    div.card.odd .head::after, .card.even .head::after {
      position: absolute;
      content: "";
      width: 0;
      height: 0;
      border-top: 15px solid transparent;
      border-bottom: 15px solid transparent;
    }

    div.card.odd .head::before, .card.even .head::before {
      position: absolute;
      content: "";
      width: 9px;
      height: 9px;
      background-color: #46b8e9; // bdbdbd
      border-radius: 9px;

      -moz-animation-duration: 0.8s;
      -webkit-animation-duration: 0.8s;
      -moz-animation-name: changeShadow;
      -webkit-animation-name: changeShadow;
      -moz-animation-iteration-count: infinite;
      -webkit-animation-iteration-count: infinite;
      -moz-animation-direction: alternate;
      -webkit-animation-direction: alternate;
    }
  }

  @-webkit-keyframes changeShadow{
    from {
      box-shadow: 0px 0px 2px 8px #f7f7f7;
    }

    to {
      box-shadow: 0px 0px 2px 8px #d6e7ef;
    }
  }

  .hide-card{
    display: none;
  }

}

.head-color-white{
  background-color: white;
  &:after{
    border-color: white;
  }
}
